.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.help {
  margin-top: 20px;
  position: absolute;
  right: 20px;
  display: flex;
}

.helpbutton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  color: #008cba;
  background-color: #ffffff;
  border: #008cba solid 2px;
  transition-duration: 0.3s;
  opacity: 0.6;
  margin: 15px;
  font-weight: bold;
}

.helpbutton:hover {
  background-color: #008cba;
  color: #ffffff;
  border: #008cba solid 2px;
}

.helpbutton:active {
  opacity: 1;
}

.tooltiptext {
  text-align: center;
}

.tooltip {
  margin-right: 10px;
  width: 150px;
  height: 170px;
}